
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="../../css/style2.css"/>
    <title>MUN CONFERENCE MANAGEMENT SYSTEM</title>
</head>
<body>
    <form id="LOGOUT" action="/logout?_method=DELETE" method="POST"></form>
    <div class="sidebar">  
        <img class="centerimg" src = "../../img/logo.svg" alt="CISMUN logo" width="120" height="120" /> 
        <a href="/">Dashboard</a>    
        <% if (user.role == 'CLIENT') { %>
            <a href="/resources">Resources</a>
            <a href="/generate-invoice">Invoice</a>
            
        <% } %>
        <% if (user.role == 'ADMIN') { %>
            <a href="/admin">Accounts</a>
            <a href="/delegates">Delegates</a>
            <a href="/finance"> Finance </a>
        <% } %>
        <a href="/settings">Settings</a>
        <a href="#" onclick="logout()">Logout</a>   
        <a href="/contact"> Contact Us </a>
    </div>
    


</body>
</html>