<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function logout() {
            document.getElementById("LOGOUT").submit();
        }
    </script>
    <link rel="stylesheet" type= "text/css" href="css/style2.css"/>
    <title>Document</title>
</head>
<h1>Oops! There was an Error</h1>
<br />
<h3><%=error.status%> | <%=error.message%> </h3>
<br />
<a href="/">← Back to home</a>