<%- include('./layouts/header') %>
<style>
    .button {
    background-color: #3898d5; /* dark Blue */
    height: 80px;
    width:120px;
    border: none;
    color: white;
    padding: 5px;
    font-family: centuryGothic;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
</style>
<h1 style="text-align:center; margin-right: 14%;" ><b>CISMUN ONLINE DATABASE</b></h1>
<h2 style="text-align:center;margin-right: 14%;"><b>Resources</b></h2>

<div class="container2" >
    <% resources.forEach(resource => { %>
     

    <div>
        <a href='<%=resource.link%>' target="_blank">
            <button class="button">
                <%=resource.name%> 
            </button>
        </a>
    </div>
    <% }) %>

</div>