<%- include('./layouts/header') %>
<style>
    .button {
    background-color: #3898d5; /* dark Blue */
    height: 80px;
    width:120px;
    border: none;
    color: white;
    padding: 5px;
    font-family: centuryGothic;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
</style>

<script>
    function logout() {
        document.getElementById("LOGOUT").submit();
    }
</script>
<form id="LOGOUT" action="/logout?_method=DELETE" method="POST"></form>

<h1 style="text-align:center;" >CISMUN ONLINE DATABASE</h1>
<h2 style="text-align:center;">Settings</h2>
